<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <title><%- pageTitle %> | <%- siteTitle %></title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <script src="https://use.typekit.net/pve4wdk.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body class="preloading">
  <%- partial("partials/_header") %>

  <%- yield %>

  <%- partial("partials/_footer") %>

  <script type="text/javascript" src="js/smoothscroll.min.js"></script>
  <script>
    var domReady = function(callback) {
        document.readyState === "interactive" || document.readyState === "complete" ? callback() : document.addEventListener("DOMContentLoaded", callback);
    };
    domReady(function() {

      var plans = document.getElementsByClassName('plan');
      console.log('plans: ',plans);

      for (var i = 0; i < plans.length; i++) {
        console.log('plans: ',plans[i]);
        plans[i].addEventListener('click', function(event) {
          event.preventDefault();
          if(window.innerWidth > 1000){
            window.smoothScroll(document.querySelector('#getting-started'))
          } else {
            window.smoothScroll(document.querySelector('#signup'))
          }
        }, false);
      }

      setTimeout(function(){
        document.getElementsByTagName("body")[0].classList.remove('preloading');
      }, 1000);
    });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66627085-2', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
