<% if (bodyClass === "index gk-saas"){ %>

<nav class="header">
  <ul role="navigation" aria-label="main navigation">
    <li><a href="#how-it-works">How it works</a></li>
    <li><a href="/docs.html">Docs</a></li>
    <li><a href="/faq.html">FAQ</a></li>
    <li><a href="#pricing">Pricing</a></li>
    <li><a href="https://github.com/greenkeeperio">GitHub</a></li>
    <li><a href="/enterprise.html" class="enterprise">Enterprise Solutions</a></li>
    <li class="account"><a href="https://account.greenkeeper.io">Your account</a></li>
  </ul>
  <a href="#" class="menu-button">
    <span class="menu">Menu</span>
    <span class="close">Close</span>
    <span class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-9h2a1 1 0 0 1 0 2h-2v2a1 1 0 0 1-2 0v-2H9a1 1 0 0 1 0-2h2V9a1 1 0 0 1 2 0v2z"/></svg>
    </span>
  </a>
</nav>

<% } else { %>

<a id="top"></a>
<nav class="header" role="navigation">
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="https://blog.greenkeeper.io/">Blog</a></li>
    <li class="<%= current.source=='docs'?'active':'' %>">
      <a href="docs.html">Docs</a>
    </li>
    <li class="<%= current.source=='faq'?'active':'' %>">
      <a href="faq.html">FAQ</a>
    </li>
    <li class="<%= current.source=='impressum'?'active':'' %>">
      <a href="impressum.html">Impressum</a>
    </li>
    <li class="<%= current.source=='terms-of-service'?'active':'' %>">
      <a href="terms-of-service.html">Terms of Service</a>
    </li>
    <li class="<%= current.source=='privacy-policy'?'active':'' %>">
      <a href="privacy-policy.html">Privacy Policy</a>
    </li>
  </ul>
</nav>
<header role="banner">
  <%- partial("_gk_logo_round") %>
  <h1>Greenkeeper.io</h1>
</header>

<% } %>
