<nav class="footer" role="navigation">
  <ul class="nav">
    <li><a href="https://blog.greenkeeper.io/">Blog</a></li>
    <li class="<%= current.source=='docs'?'active':'' %>">
        <a href="/docs.html">Docs</a>
      </li>
    <li class="<%= current.source=='faq'?'active':'' %>">
      <a href="/faq.html">FAQ</a>
    </li>
    <li class="<%= current.source=='about'?'active':'' %>">
        <a href="/about.html">About</a>
      </li>
    <li><a href="https://github.com/greenkeeperio">GitHub</a></li>
    <li class="<%= current.source=='impressum'?'active':'' %>">
      <a href="/impressum.html">Legal</a>
    </li>
    <li class="<%= current.source=='terms-of-service'?'active':'' %>">
      <a href="/terms-of-service.html">Terms of Service</a>
    </li>
    <li class="<%= current.source=='privacy-policy'?'active':'' %>">
      <a href="/privacy-policy.html">Privacy Policy</a>
    </li>
  </ul>
</nav>

<footer role="contentinfo">
  <p><a href="https://github.com/greenkeeperio">Greenkeeper is Open Source on GitHub</a></p>
  <p>.io domain? — <a href="https://twitter.com/chagosuk" title="chagos-support">Yes, we support Chagos!</a></p>
  <p>© 2018 <a href="http://neighbourhood.ie">The Neighbourhoodie Software GmbH</a></p>
</footer>
