<a href='<%- otherLanguageURL %>' class='language-switch'>DE</a>
<% if (!bodyClass.includes('index')){ %>
  <a id="top"></a>
<% } %>

<div class='companyHeader'>
  <div class='centeringContainer'>
    <svg id="neighbourhoodie-n" viewBox="0 0 60 60" width="100%" height="100%"><title>neighbourhoodie-n</title><path d="M53.46,60,18.61,28.7V58.9H5.2V.31L7,0,41.39,31.06V1.1H54.8V59.76Z"></path></svg>
    <span class='subline'>A product by <a href='https://neighbourhood.ie'>Neighbourhoodie Software</a></span>
  </div>
</div>

<nav class="header">
  <ul role="navigation" aria-label="main navigation">
    <li class="<%= current.source=='index'?'active':'' %>">
      <a href="/">Greenkeeper</a>
    </li>
    <%# This is so navigating to anchors while on the index page is animated, same below for pricing #%>
    <% if (bodyClass.includes('index')){ %>
      <li><a href="#how-it-works">How it works</a></li>
      <% } else { %>
      <li><a href="/#how-it-works">How it works</a></li>
    <% } %>
    <li class="<%= current.source=='docs'?'active':'' %>">
      <a href="/docs.html">Docs</a>
    </li>
    <li class="<%= current.source=='faq'?'active':'' %>" >
      <a href="/faq.html">FAQ</a>
    </li>
    <li class="<%= current.source=='enterprise'?'enterprise active':'enterprise' %>">
      <a href="/enterprise.html">Enterprise</a>
    </li>
    <li class="account"><a href="https://account.greenkeeper.io">Your account</a></li>
  </ul>
  <a href="#" class="menu-button">
    <span class="menu">Menu</span>
    <span class="close">Close</span>
    <span class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-9h2a1 1 0 0 1 0 2h-2v2a1 1 0 0 1-2 0v-2H9a1 1 0 0 1 0-2h2V9a1 1 0 0 1 2 0v2z"/></svg>
    </span>
  </a>
</nav>
