<nav class="footer" role="navigation">
  <ul class="nav">
    <li><a href="https://blog.greenkeeper.io/">Blog</a></li>
    <li class="<%= current.source=='dokumentation'?'active':'' %>">
        <a href="/de/dokumentation.html">Dokumentation</a>
      </li>
    <li class="<%= current.source=='haeufige-fragen'?'active':'' %>">
      <a href="/de/haeufige-fragen.html">Häufige Fragen</a>
    </li>
    <li class="<%= current.source=='ueber-uns'?'active':'' %>">
        <a href="/de/ueber-uns.html">Über uns</a>
      </li>
    <li><a href="https://github.com/greenkeeperio">GitHub</a></li>
    <li class="<%= current.source=='impressum'?'active':'' %>">
      <a href="/de/impressum.html">Impressum</a>
    </li>
    <li class="<%= current.source=='nutzungsbedingungen'?'active':'' %>">
      <a href="/de/nutzungsbedingungen.html">Nutzungsbedingungen</a>
    </li>
    <li class="<%= current.source=='datenschutzerklaerung'?'active':'' %>">
      <a href="/de/datenschutzerklaerung.html">Datenschutzerklärung</a>
    </li>
  </ul>
</nav>

<footer role="contentinfo">
  <p><a href="https://github.com/greenkeeperio">Greenkeeper ist Open Source und auf GitHub</a>.</p>
  <p>.io-Domain? — <a href="https://twitter.com/chagosuk" title="chagos-support">Ja, wir unterstützen Chagos!</a></p>
  <p>© 2018 <a href="http://neighbourhood.ie">The Neighbourhoodie Software GmbH</a></p>
</footer>
