<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <title><%- siteTitle %> | <%- pageTitle %></title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=kPxB0q7250">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=kPxB0q7250">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=kPxB0q7250">
  <link rel="manifest" href="/manifest.json?v=kPxB0q7250">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=kPxB0q7250" color="#00c775">
  <link rel="shortcut icon" href="/favicon.ico?v=kPxB0q7250">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <script src="https://use.typekit.net/pve4wdk.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body class="preloading <%- bodyClass %>">
  <%- partial("partials/_header") %>

  <%- yield %>

  <%- partial("partials/_footer") %>

  <script type="text/javascript" src="js/smoothscroll.min.js"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/slick.min.js"></script>
  <script type="text/javascript" src="js/magnifik.min.js"></script>
  <script>
    var domReady = function(callback) {
        document.readyState === "interactive" || document.readyState === "complete" ? callback() : document.addEventListener("DOMContentLoaded", callback);
    };
    domReady(function() {
      $('.tweets').slick({
        dots: true,
        autoplay: true,
        autoplaySpeed: 7000,
        prevArrow: '<button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button">←</button>',
        nextArrow: '<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Previous" role="button">→</button>'
      })
      const ratio = 760 / window.screen.width
      if (ratio > 1){
        $('.wide-img img').magnifik({
          ratio: ratio
        })
      }
    })
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66627085-2', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
